[submodule "emtm-db"]
	path = emtm-db
	url = https://github.com/earn-me-some-money/emtm-db.git
[submodule "emtm-web"]
	path = emtm-web
	url = https://github.com/earn-me-some-money/emtm-web.git
[submodule "emtm-verify"]
	path = emtm-verify
	url = https://github.com/earn-me-some-money/emtm-verify.git
